

.banner-image {
    background-image: url(../images/skiing.JPG);   
    background-size: cover;
    background-repeat: no-repeat;
    height: 22em;
    width: 100%;
    filter:brightness(80%);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transform: translateY(50px);
    z-index: 0;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F363D;
}


.nav-bar h1 {
    margin: 0;
}

.nav-bar a {
    text-decoration: none;
    color: #DEE0E0;
}

.links-wrapper {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}
.links-wrapper a{
    color: #DEE0E0;
    text-decoration: none;
    transition: 1s;
}

.links-wrapper a:hover{
    letter-spacing: 1px;
    transform-origin: center;
}
