.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F363D;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.nav-bar h1 {
    margin: 0;
}

.nav-bar a {
    text-decoration: none;
    color: #DEE0E0;
}

.links-wrapper {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}
.link-styles{
    color: #DEE0E0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 50px;
}

.link-styles a{
    transition: 1s;
}

.link-styles a:hover{
    border-top: #FF6F59 1px solid;
    border-bottom: #FF6F59 1px solid;
    letter-spacing: 2px;
    color: #FF6F59;
}
